<body>
<header>
  <nav id="verticalNav" class="overflow-scroll">
    <a href="javascript:void(0)" id="close-button">&#10008;</a>
    <ul class="navbar-nav" id="verticalItems">
      <li class="nav-item">
        <a class="nav-link special" href="/">HOME</a>
      </li>
      <% if(!isAuth){ %>
      <li class="nav-item">
        <a class="nav-link special" href="/login">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link special" href="/signup">SIGNUP</a>
      </li>
      <% } else{ %>
      <li class="nav-item">
        <a class="nav-link special" href="/dashboard/home">DASHBOARD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link special" href="/user/logout">LOGOUT</a>
      </li>
      <% } %>
    </ul>
  </nav>
  <nav class="navbar navbar-expand-lg" id="horizonNav">
    <div class="container">
      <a class="navbar-brand" href="/">MAIL-BOT</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <ul class="navbar-nav" id="items">
          <li class="nav-item">
            <a class="nav-link special" href="/">HOME</a>
          </li>
          <% if(!isAuth){ %>
          <li class="nav-item">
            <a class="nav-link special" href="/login">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link special" href="/signup">SIGNUP</a>
          </li>
          <% } else{ %>
          <li class="nav-item">
            <a class="nav-link special" href="/dashboard/home">DASHBOARD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link special" href="/user/logout">LOGOUT</a>
          </li>
          <% } %>
        </ul>
      </div>
      <button id="openNav"><i class="fa fa-bars"></i></button>
    </div>
  </nav>
</header>