<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MailBot</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/7568ff1cf1.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" /> -->
    <!-- about us -->
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" defer></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js" defer></script> -->
    <!-- about us -->
    <!-- features section -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- features section -->

    <!-- <link rel="stylesheet" href="/scripts/header.js" defer> -->
    <!-- <link rel="stylesheet" href="/styles/landing.css"> -->
    <!-- <link rel="stylesheet" href="/scripts/landing.js" defer> -->
    <!-- <script src="/scripts/landing.js" defer></script>
    <link rel="stylesheet" href="/styles/header.css">
    <script src="/scripts/header.js" defer></script>
</head> -->




<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MailBot</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7568ff1cf1.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="stylesheet" href="/styles/header.css" />
    <script src="/scripts/header.js" defer></script>
    
  </head>

  <%- include('./header') %>

    <!-- Large Text -->
  <!-- <section id="about" class="section-b">
    <div class="overlay">
      <div class="section-b-inner py-5">
        <h3 class="text-2">About Our Site</h3>-->
        <!-- <h1 class="text-5 mt-1">From our website users can login and send recurring mails -->
        <!-- to the recipients</h1> -->
        <!-- <p class="mt-1">
          From our website users can login and send recurring mails to the recipients.Also they can schdule their mail
          timing according to their comfort.
        </p> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </section> --> 
  <section id="banner">
    <div class="container">
      <div class="row" id="top-content">
        <div class="col-lg-6 order-2 order-lg-1" id="text-search">
          <h1>
            The New Way To Send Emails <br />
            
          </h1>
          <p>
            We Make Your Email  Process Easy
          </p>
          
        </div>
        <div class="col-lg-4 order-2 order-lg-2" id="imgOnBanner">
          <img
            class="img-fluid"
            src="/images/mail-logo.jpg"
            alt="Illustrator related to cipher-MailBot."
          />
        </div>
      </div>
    </div>
  </section>



  <!-- Services section -->
	<section id="what-we-do">
		<div class="container-fluid">
			<h2 class="section-title mb-2 h1">What we do</h2>
			<p class="text-center text-muted h5">Making Your Mailing Experience More Comfortable</p>
			<div class="row mt-5">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">Fast Multiple Email Sending</h3>
							<p class="card-text">Send occuring email in given time span</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">Easily Edit Mail</h3>
							<p class="card-text">Wiht this feature you can easily edit your mails and also maintain history</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Secure Mail Transfer</h3>
							<p class="card-text">No data will bridge fully secure.</p>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">Easy To LOGIN</h3>
							<p class="card-text">Can login via google or singUp.</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-5">
							<h3 class="card-title">Can Look Into Future Events</h3>
							<p class="card-text">Easily see that e-mails are pending to be sent.</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-6">
							<h3 class="card-title">Look Into Past Records</h3>
							<p class="card-text">Need Past e-mail details? No we can provide your past e-mail logs.</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
	<!-- /Services section -->

  

  <!-- about us -->
  <!-- <div class="container-about-us">
    <div class="row">
      <div class="heading-title text-center">
        <h1 class="text-uppercase">Our Team</h1>
        <p class="text-center text-muted h5">This is Us!</p>
      </div>
      <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="team-member">
          <div class="team-img">
            <img src="/images/arunit.jpeg"
              alt="team member" class="img-responsive">
          </div>
          <div class="team-hover">
            <div class="desk">
              <h4>Hi There !</h4>
              <p>I love to introduce myself as a Full Stack developer.</p>
            </div>
            <div class="s-link">
              <a href="https://www.instagram.com/the_arunit/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/arunit-kumar" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://github.com/Arunit2001" target="_blank"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
        <div class="team-title">
          <h5>Arunit Kumar</h5>
          <span>full stack developer</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="team-member">
          <div class="team-img">
            <img src="/images/rishab .jpeg"
              class="img-responsive">
          </div>
          <div class="team-hover">
            <div class="desk">
              <h4>Heyyy....</h4>
              <p>I love to introduce myself as a Full Stack developer.</p>
            </div>
            <div class="s-link">
              <a href="https://www.instagram.com/rishu_333_oreo_?r=nametag" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/in/rishabh-agarwal-8bb370193/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://github.com/Spidey-Rishabh" target="_blank"><i class="fa fa-github"></i></a>
              <a href=""></a>
            </div>
          </div>
        </div>
        <div class="team-title">
          <h5>Rishabh Agarwal</h5>
          <span>Full stack developer</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="team-member">
          <div class="team-img">
            <img src="/images/tarun-img.jpg"
              alt="team member" class="img-responsive">
          </div>
          <div class="team-hover">
            <div class="desk">
              <h4>I love to design</h4>
              <p>I love to introduce myself as a Front end developer.</p>
            </div>
            <div class="s-link">
              <a href="https://www.instagram.com/belike_tarun/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://github.com/tarun-kanojia" target="_blank"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
        <div class="team-title">
          <h5>Tarun kanojia</h5>
          <span>front end developer</span>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="team-member">
          <div class="team-img">
            <img src="/images/sohahil.jpeg"
              alt="team member" class="img-responsive">
          </div>
          <div class="team-hover">
            <div class="desk">
              <h4>Hi There !</h4>
              <p>I love to introduce myself as a Front end developer.</p>
            </div>
            <div class="s-link">
              <a href="https://www.instagram.com/_sohailkhan141/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://github.com/sohailkhan141" target="_blank"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
        <div class="team-title">
          <h5>Sohail Khan</h5>
          <span>front end developer</span>
        </div>
      </div>
    </div>

    </div>

  </div> -->

  <div class="py-5 team4">
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-md-7 text-center">
          <h1 class="mb-3">Team Information</h1>
        </div>
      </div>

      <!-- For Each Section -->

      <div class="row justify-content-center">
        <!-- column  -->

        <div class="col-lg-12 d-flex justify-content-center mb-5">
            <h2>Team Supervisors</h2>
        </div>
          
        <div class="col-sm-6 mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <img
                src="/images/pradeep_1.jpg"
                alt="wrapkit"
                class="rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Dr. Pradeep Biswal</h5>
                <h6 class="subtitle">Assistant Professor</h6>
                <h6 class="subtitle">Head of Department, CSE</h6>
                <h6 class="subtitle mb-3">IIIT Bhagalpur </h6>
                <!-- <p>
                  You can relay on our amazing features list and also our
                  customer services will be great experience.
                </p> -->
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-facebook"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-twitter"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-instagram"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-behance"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-sm-6 mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <img
                src="/images/lpandey.jpg"
                alt="wrapkit"
                class="rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Mr. Love Panday</h5>
                <h6 class="subtitle">Junior Technical Superintendent</h6>
                <h6 class="subtitle mb-3">IIIT Bhagalpur </h6>
                <!-- <p>
                  You can relay on our amazing features list and also our
                  customer services will be great experience.
                </p> -->
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-facebook"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-twitter"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-instagram"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-behance"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
      </div>
      <div class="row justify-content-center">
        <!-- column  -->

        <div class="col-lg-12 d-flex justify-content-center mb-5">
            <h2>Our Team</h2>
        </div>
          
        <div class="col-lg-4 mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <img
                src="/images/Arunit.jpeg"
                alt="wrapkit"
                class="rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Arunit Kumar</h5>
                <h6 class="subtitle">CSE | 2019-23</h6>
                <h6 class="subtitle mb-3">1901013</h6>
                <!-- <p>
                  You can relay on our amazing features list and also our
                  customer services will be great experience.
                </p> -->
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-facebook"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-twitter"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-instagram"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-behance"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-4 mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <img
                src="/images/Rishabh.jpeg"
                alt="wrapkit"
                class="rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Rishabh Agarwal</h5>
                <h6 class="subtitle">CSE | 2019-23</h6>
                <h6 class="subtitle mb-3">1901054</h6>
                <!-- <p>
                  You can relay on our amazing features list and also our
                  customer services will be great experience.
                </p> -->
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-facebook"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-twitter"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-instagram"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-behance"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-4 mb-4">
          <!-- Row -->
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <img
                src="/images/Shivam.jpeg"
                alt="wrapkit"
                class="rounded-circle"
              />
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0">Shivam Kumar Vimal</h5>
                <h6 class="subtitle">CSE | 2019-23</h6>
                <h6 class="subtitle mb-3">1901064</h6>
                <!-- <p>
                  You can relay on our amazing features list and also our
                  customer services will be great experience.
                </p> -->
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-facebook"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-twitter"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-instagram"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="text-decoration-none d-block px-1"
                      ><i class="icon-social-behance"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
        <!-- column  -->
      </div>


    </div>
  </div>

  <!-- about us -->

  <!-- Footer -->
  <%- include('./footer') %>
  
</body>

</html>