<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MailBot</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="stylesheet" href="/styles/signin.css">
        <script src="https://kit.fontawesome.com/44c10b988f.js" crossorigin="anonymous" defer></script>
    </head>
    <body>
        <div class="hero1">
            <div class="form-box1">
                    <div class="button-box1">
                        <div id="btn1"></div>
                        <button type="button" class="toggle-btn1" >Sign In</button>
                        <a href="/signup"><button type="button" class="toggle-btn1" >Sign Up</button></a>
                    </div>
                    <a href="/user/oauth/google"><div class="social-bar1" ><i class="fab fa-google"></i>&nbsp; &nbsp;Login via Google</div></a>
                    <form id="signIn" onsubmit="signinSubmit(event)" class="input-group1">  
                        <input type="email" name="email" id="email" class="input-field1" placeholder="Email Id" required>
                        <input type="password" name="password" id="password" class="input-field1" placeholder="Password" required>
                        <input type="checkbox" class="check-box1"><span>Remember Password</span>
                        <button type="submit" class="submit-btn1">Sign In</button>
                    </form>
                    <div id="warning1">*Email and Password mismatched.</div>
            </div>
        </div>
        
        <script>
            const signinSubmit = async (e)=>{
                e.preventDefault();
                console.log("i am here");
                let data = {
                    email : document.getElementById("email").value,
                    password : document.getElementById("password").value
                }

                await fetch("https://cipher-mailbot.herokuapp.com/user/signin",{
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    credentials: "include",
                    body: JSON.stringify({
                        email : data.email,
                        password : data.password
                    }),
                }).then(async (response) => {
                    if(response.status>=200&&response.status<300){
                        document.getElementById("warning1").style.display="none";
                        response = await response.json();
                        window.location.assign("https://cipher-mailbot.herokuapp.com/user/list");
                    }else if(response.status==401){
                        document.getElementById("warning1").style.display="block";
                    }
                }).catch(error=>{
                    console.log(error.message);
                });
            }

            const signinGoogle = async (e)=>{
                e.preventDefault();
                await fetch("https://cipher-mailbot.herokuapp.com/user/oauth/google")
                .then(async (response)=>{
                    if(response.status>=200&&response.status<300){
                        response = await response.json();
                        window.location.assign("https://cipher-mailbot.herokuapp.com/user/list");
                    }else{
                        response = await response.json();
                        console.log(response);
                    }
                }).catch(error=>{
                    console.log(error.message);
                });
            }
        </script>

    </body>
</html>