<footer>
    <section id="footer">
      <div class="container-fluid">
        <div class="row" id="bottom-foot">
          <div class="col-sm-4">
            <h2><strong>E-Learning</strong></h2>
            <br />
            <p class="lead">
              852131, Supaul <br />
              Bihar, India <br />
              <br />
              <b>Phone:-</b> 9667197161 <br />
              <b>Email:-</b> arunit2001singh@gmail
            </p>
          </div>
          <div class="col-sm-4">
            <h2><strong>Useful Links</strong></h2>
            <br />
            <ul>
              <li><a class="lead" href="#">Home</a></li>
              <li><a class="lead" href="#">About Us</a></li>
              <li><a class="lead" href="#">How to Contact Us?</a></li>
              <li><a class="lead" href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h2><strong>Subscribe</strong></h2>
            <br />
            <form action="#">
              <div class="mb-3" id="subscribe">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  name="email"
                />
              </div>
              <button class="btn btn-primary">Subscribe</button>
            </form>
          </div>
        </div>
        <br />
        <div>
          <ul id="socialMedia" class="d-flex flex-row justify-content-evenly">
            <li>
              <a href="#"><i class="fab fa-github"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
          </ul>
        </div>
        <div id="copyright">
          <p class="lead">
            Copyright<sup>&#169;</sup> 2021 Arunit. All Rights Reserved.
          </p>
        </div>
      </div>
    </section>
  </footer>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>