.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 15px 16px;
  height: fit-content;
}

h1{
  padding-left: 10px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.712);
}


ul{
list-style: none;
padding-left: 0;
padding-top: 25px;
}

.mail {
margin: 50px;
text-align: left;
}

.mail-history{
  /* font-weight: bold; */
  width: 100%;
  
  font-family: 'Open Sans',Sans-serif;
  color: rgb(0, 0, 0);
  font-size: 100%;
  box-shadow: 0 2px 15px rgb(64, 64, 64, .7);
  background-color:  white;
  border-radius: 5px;
  border: 2px solid rgb(12, 12, 12);
  text-align: center;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  
}  

.topnav-bar{
  
  background-color: #333;
  overflow: hidden;
}

.topnav-bar a, 
.dropbtn{
  /* font-family: ; */
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;  
}

/* Change the color of links on hover */
.topnav-bar a:hover,
.dropbtn:hover {
  background-color: #ddd;
  color: rgb(8, 8, 8);
}

/* Add a color to the active/current link */
.topnav-bar a.active {
  background-color: #5daa04;
  color: white;
}
.sending-history{
width: 100%;
}
summary{
outline: none;
}

.modify{
  text-align: right;
  padding-right: 2%;
  margin: 2%;
}
#content,#schedule1,#cancel01{
    display: none;
}
.form-popup{
  text-align: center;
  display: none;
  margin:auto auto;
  z-index: 9;
  max-width: 250px;
  padding: 10px;
  background-color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}