#verticalNav{
    display: none;
}

#horizonNav{
    background-color: #f1f1f1;
    height: 10vh;
}

#horizonNav .navbar-brand{
    letter-spacing: 1.5px;
    font-size: 2.5em;
    font-weight: 700;
}

#horizonNav a{
    color: #001233;
    font-weight: 300;
    transition: all 0.2s ease-in;
}

#openNav{
    display: none;
}

#items .special{
    color: #001233;
    font-weight: 600;
}

#items a:hover{
    font-weight: 600;
    color: #1d3557;
}

#footer{
    margin-top: 25px;
    display: flex;
    background-color: #d6e2e9;
    width: 100%;
    color: #272640;
    flex-wrap: wrap;
    justify-content: center;
}

#bottom-foot{
    padding-top: 20px;
}

#bottom-foot div{
    border-right: 1px solid grey;
}

#bottom-foot div:last-child{
    border-right: none;
}

#footer p{
    font-size: 1em;
}

#footer ul{
    list-style: none;
}

#footer a{
    text-decoration: none;
    font-size: 1em;
    color: #272640;
}

#subscribe input{
    border: none;
    border-bottom: 1px solid black;
    background: none;
}

#socialMedia {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

#copyright{
    text-align: center;
    padding-bottom: 20px;
}

@media(max-width:991px){
    #openNav{
        font-size: 1.5em;
        display: inline-block;
        cursor: pointer;
        background: none;
        border: none;
        color: #001233;
    }

    #verticalNav{
        background-color: #f1f1f1;
        display: flex;
        width: 0;
        min-height: 100vh;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        flex-direction: column;
        overflow-x: hidden;
        transition: 0.5s;
        align-items: center;
        font-size: 1em;
    }

    #close-button{
        text-decoration: none;
        margin: 0;
        font-size: 2em;
        align-self: flex-start;
    }

    #verticalItems {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #verticalNav a{
        color: #001233;
        font-weight: 300;
        transition: all 0.2s ease-in;
    }

    #verticalItems .special{
        font-weight: 600;
    }

    #verticalNav a:hover{
        font-weight: 600;
        color: #1d3557;
    }

}

@media(max-width:575px){
    #bottom-foot div{
        border-right: none;
        border-bottom: 1px solid grey;
        margin-top: 20px;
    }

    #bottom-foot div:first-child{
        margin-top: 0;
    }

    #bottom-foot div:last-child{
        border-bottom: none;
    }
    #bottom-foot{
        text-align: center;
    }
}